/* navar starts */
i{
    color: black;
    width: 35px;
}

#navbar{
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px;
    gap: 5px;
}
#menudiv{
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
}
#menu{
    font-size: 35px;
    padding: 5px;
    color: black;
}
#logo{
    /* border: 1px solid black; */
    width: 300px;
    height: fit-content;
    padding: 5px;
}
#logo>a>img{
    width: 300px;
    cursor: pointer;

}
#searchBox{
    /* border: 1px solid black; */
    margin-left: 20%;
    display: flex;
    cursor: pointer;
}
#searchBox>div{
    text-decoration: none;
}
#searchBox>div{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    /* padding: 5px; */
}
#searchline{
    /* border: 1px solid white; */
    width: 150px;
    height: 0.3px;
    margin-top: 20px;
    margin-left: 2px;
    background-color: black;
}

#login_basketDiv{
    /* border: 1px solid red; */
    display: flex;
    width: 220px;
    margin-left: 350px;
}
#loginicon{
    /* border: 1px solid black; */
    width: 100px;
    display: flex;
}
#loginicon>div>img{
width: 30px;
height: 30px;
}

#loginicon>div>p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

#basketicon{
    /* border: 1px solid black; */
    width: 120px;
    display: flex;
}
#basketicon>div>img{
width: 30px;
height: 30px;
}

#basketicon>div>p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}
/* navbar ends */