*{
    margin: 0;
    padding: 0;
}

i{
    color: black;
    width: 35px;
}
#container{
    /* border: 1px solid black; */
    height: fit-content;
}
#container>a>img{
    height: 780px;
    width: 100%;
}
#center>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#navbar{
    /* border: 1px solid red; */
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px;
    gap: 5px;
}
#menudiv{
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
}
#menu{
    font-size: 35px;
    padding: 5px;
}
#logo{
    /* border: 1px solid black; */
    width: 300px;
    height: fit-content;
    padding: 5px;
}
#logo>a>img{
    width: 300px;
    cursor: pointer;

}
#searchBox{
    /* border: 1px solid black; */
    margin-left: 20%;
    display: flex;
}
#searchBox>div>a{
    text-decoration: none;
}
#searchBox>div>a{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    /* padding: 5px; */
}
#searchline{
    /* border: 1px solid white; */
    width: 150px;
    height: 0.3px;
    margin-top: 20px;
    margin-left: 2px;
    background-color: black;
}

#login_basketDiv{
    /* border: 1px solid red; */
    display: flex;
    width: 220px;
    margin-left: 350px;
}
#loginicon{
    /* border: 1px solid black; */
    width: 100px;
    display: flex;
}
#loginicon>div>img{
width: 30px;
height: 30px;
}

#loginicon>div>p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

#basketicon{
    /* border: 1px solid black; */
    width: 120px;
    display: flex;
}
#basketicon>div>img{
width: 30px;
height: 30px;
}

#basketicon>div>p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

#box{
    border: 1px solid red;
    height: 40px;
    border: none;
    border-bottom: 0.3px solid grey;
}
#footerDiv{
    
    height: 550px;
}
#footer{
    border: 1px solid white;
    width: 40%;
    height: fit-content;
    margin: auto;
    margin-top: 80px;
}
#socialMedia{
    /* border: 1px solid red; */
    height: fit-content;
    margin-top: 50px;
    display: flex;
}
#socialMedia>div{
    /* border: 1px solid black; */
    width: 50%;
}
.followus{
    /* border: 1px solid black; */
    height: fit-content;
}
.followus>p{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
/* #socialMediaIcons>div{
    border: 1px solid black;
} */
#socialMediaIcons{
    display: grid;
    grid-template-columns: repeat(6,16.7%);
    margin-top: 10px;
    height: fit-content;
    padding: 10px;
}

#facebook{
    color: black;
    font-size: 25px;
    padding: 10px;
}
#facebook:hover{
    color: grey;
}
#insta{
    color: black;
    font-size: 25px;
    padding: 10px;
}
#insta:hover{
    color: grey;
}
#pint{
    color: black;
    font-size: 25px;
    padding: 10px;
}
#pint:hover{
    color: grey;
}
#youtube{
    color: black;
    font-size: 25px;
    padding: 10px;
}
#youtube:hover{
    color: grey;
}
#tweet{
    color: black;
    font-size: 25px;
    padding: 10px;
}
#tweet:hover{
    color: grey;
}
#spotify{
    color: black;
    font-size: 25px;
    padding: 10px;
}
#spotify:hover{
    color: grey;
}
/* #downloadicons>div{
    border: 1px solid black;
} */
#downloadicons{
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 12px;
}
#appleicon{
    text-align: end;
    color: black;
    font-size: 25px;
    padding: 10px;
}
#appleicon:hover{
    color: grey;
}
#androidicon{

    color: black;
    font-size: 25px;
    padding: 10px;
}
#androidicon:hover{
    color: grey;
}

#companyInfo{
    /* border: 1px solid red; */
    height: 150px;
    margin-top: 50px;
    display: flex;
}
#companyInfo>div{
    /* border: 1px solid black; */
    width: 50%;
}
.underlineHead{
    text-decoration: underline;
    font-weight: bold;
    font-size: 13px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.policies>div{
    /* border: 1px solid black; */
    width: fit-content;
    margin: auto;
    margin-top: 3px;
}
.policies>div>a{
    text-decoration: none;
    color: rgb(81, 78, 78);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #111;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 10px;
  }

  #menubar{
    background-color: white;
    position: fixed;
    top: 0;
    left: -100%;
    /* left: 0; */
    width: 350px;
    height: 100vh;
    z-index: 2000;
    transition: .5s ease;
    box-shadow: rgb(0, 0, 0) 0px 30px 90px;
}
#imagesDiv{
    /* border: 1px solid black; */
    height: 5800px;
}
#heading{
    /* border: 1px solid red; */
    width: 430px;
    height: 200px;
    margin: auto;
    margin-top: 180px;
}
#heading>img{
    height: 100%;
    width: 100%;
}
#img1{
    /* border: 1px solid red; */
    width: 1000px;
    height: 900px;
    margin: auto;
    margin-top: 70px;
}
#img1>img{
    
    height: 100%;
    width: 100%;
}
#img2{
    
    /* border: 1px solid red; */
    width: 1500px;
    height: 630px;
    margin: auto;
    margin-top: 120px;
    background-color: rgba(201, 193, 193, 0.272);
    display: flex;
}
#one{
    /* border: 1px solid red; */
    width: 30%;
    height: 90%;
    margin: auto;
    margin-left: 40px;
}
#one>img{
    width: 100%;
    height: 100%;
}
#two{
    
    /* border: 1px solid red; */
    width: 63%;
    height: 90%;
    margin: auto;
}
#two>img{
    width: 100%;
    height: 100%;
}
#img3{
    /* border: 1px solid red; */
    width: 800px;
    height: 900px;
    margin: auto;
    margin-top: 120px;
}
#img3>img{
    width: 100%;
    height: 100%;
}
#img4{
    
    /* border: 1px solid red; */
    width: 1500px;
    height: 630px;
    margin: auto;
    margin-top: 120px;
    background-color: rgba(201, 193, 193, 0.272);
    display: flex;
}
#three{
    /* border: 1px solid red; */
    /* width: 30%;
    height: 90%;
    margin: auto;
    margin-left: 40px; */
    width: 63%;
    height: 90%;
    margin: auto;
}
#three>img{
    width: 100%;
    height: 100%;
}
#four{
    
    /* border: 1px solid red; */
    /* width: 63%;
    height: 90%;
    margin: auto; */
    width: 30%;
    height: 90%;
    margin: auto;
    margin-left: 40px;
}
#four>img{
    width: 100%;
    height: 100%;
}
#img5{
    /* border: 1px solid red; */
    width: 800px;
    height: 900px;
    margin: auto;
    margin-top: 120px;
}
#img5>img{
    width: 100%;
    height: 100%;
}
#img6{
    /* border: 1px solid red; */
    width: 500px;
    height: 700px;
    margin: auto;
    margin-top: 120px;
    background-color: rgba(201, 193, 193, 0.272);
}
#img6>img{
    width: 80%;
    height: 90%;
    margin: 30px;
    margin-left: 45px;
    
}
#heading2{
    /* border: 1px solid red; */
    width: 630px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}
#heading2>img{
    height: 100%;
    width: 100%;
}
#android_Icon{
    width: 20px;
    height: 20px;
    padding: 12px;
}