* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #1e1e1e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#navB {
  top: 0;
  left: 0;
  border: 1px solid transparent;
  width: 100%;
  height: 90px;
  position: sticky;
  transition: 0.5s;
  z-index: 1;
}


#logo {
  border: 1px solid transparent;
  width: 23%;
  height: 80%;
  margin-top: 2%;
  margin-left: 1%;
  display: inline-block;
}
#img3 {
  width: 20%;
  height: 40%;
  display: inline-block;
  border: 1px solid transparent;
  position: absolute;
  left: 60px;
  transition: left 0.7s ease;
}
#bar {
  vertical-align: top;
  margin-top: 5px;
  font-size: 22px;
  transition: 0.3s;
  display: inline-block;
}

#logo:hover > #bar {
  color: white;
}
#logo:hover > #img1 {
  left: 10px;
}

#sear {
  display: inline-block;
  width: 17%;
  height: 31%;
  border: 1px solid transparent;
  vertical-align: top;
  margin-top: 2%;
  margin-left: 25%;
}

#sear > div {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: inline-block;
}

#sear > div:hover {
  color: #888b8d;
}

#Rside {
  border: 1px solid transparent;
  display: inline-block;
  width: 20%;
  height: 25%;
  position: absolute;
  right: 10px;
  margin-top: 2.5%;
  text-align: right;
}

#Rside > span {
  margin: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.middle {
  position: absolute;
  top: 100%;
  left: -300px;
  font-family: "Poppins", sans-serif;
  transition: left 0.5s ease;
  background-color: white;
}

#logo:hover .middle {
  left: 0px;
}

.menu {
  width: 300px;
  height: 700px;
  margin-top: 25px;
  overflow: hidden;
}

.item {
  overflow: hidden;
}

.btn {
  display: block;
  padding: 1px 20px;
  font-weight: 600;
  font-size: 18px;
  background: white;
  color: rgb(48, 46, 46);
  position: relative;
  letter-spacing: 1px;
}

.ubtn {
  display: block;
  padding: 1px 20px;
  font-weight: 600;
  font-size: 18px;
  background: white;
  color: rgb(48, 46, 46);
  position: relative;
  letter-spacing: 1px;
}

.item a:hover {
  color: #888b8d;
}

.smenu {
  background: white;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.sbmenu {
  background: white;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.smenu a {
  display: block;
  padding: 1px 25px;
  color: black;
  font-size: 14px;
  margin: 4px 15px;
  position: relative;
}

.sbmenu > a {
  display: block;
  padding: 1px 25px;
  color: black;
  font-size: 12px;
  margin: 4px 40px;
  position: relative;
}

.smenu a:hover {
  color: #888b8d;
}

.item:target .smenu {
  max-height: 50em;
}

.smenu:target .sbmenu {
  max-height: 50em;
}

.alast {
  font-weight: normal;
  font-size: 15px;
}

.salast > a {
  font-size: 13px;
  padding: 0px 26px;
}

/* body */
#cart_container {
  z-index: 0;
  margin-bottom: 120px;
}
#mainB {
  border: 1px solid transparent;
  width: 100%;
}

#mainB > button {
  padding: 1.2% 19.5%;
  /* margin-left: 1%; */
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}
#mainB > button:hover {
  border-bottom: 2px solid black;
}
#card {
  margin-top: 2%;
  margin-left: 1.5%;
  width: 71%;
  display: inline-block;
}

#pay {
  border: 1px solid transparent;
  margin-top: 1.5%;
  margin-left: 4.5%;
  width: 20%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-family: "Poppins", sans-serif;
}
#Item {
  font-weight: bold;
  font-size: 20px;
  padding: 4px 0;
}

#lText1_div {
  padding: 12px 0;
}

#lText1 {
  border: 1px solid transparent;
  font-size: 14px;
  color: #1e1e1e;
  margin-left: 2%;
  display: inline-block;
  color: #777;
}

#total {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 14px;
  color: #1e1e1e;
  margin-left: 0.8%;
  color: #777;
}

#lText2_div {
  padding: 12px 0;
}

#lText2 {
  display: inline-block;
  border: 1px solid transparent;
  font-weight: bold;
  margin: 4% 0% 0% 3%;
}

#total2 {
  display: inline-block;
  border: 1px solid transparent;
  margin-left: 42%;
  font-weight: bold;
  margin-top: -20%;
}

#cText {
  font-size: 13px;
  color: #777;
  margin-top: 15%;
  margin-left: 3%;
  /* opacity: 60%; */
}

i{
  cursor: pointer;
  font-size:15px
}

#pay > button {
  padding: 4% 5%;
  width: 105%;
  margin-top: 5%;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(22, 20, 20);
  color: rgb(243, 241, 241);
  border: 0;
  text-align: center;
}

#pay > button:hover {
  background-color: #3d3d3d;
}
#product {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 2%;
}
#minus {
  display: inline-block;
}
.circle {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 100%;
}
#plus {
  display: inline-block;
  margin-left: 10px;
}
#priceDiv {
  display: inline-block;
  margin-left: 2.2%;
  margin-top: -8%;
}
#iconDiv {
  display: inline-block;
  margin-left: 57%;
  opacity: 90%;
}
#mainDiv {
  position: relative;
}
#image {
  display: block;
  width: 100%;
  height: 390px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.mainDiv:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlayContent {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#remove {
  position: absolute;
  right: 4%;
  top: 2.5%;
  color: #777;
}
#basket {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0.28px;
  width: 51%;
  text-align: center;
  cursor: pointer;
}
#later {
  font-family: monospace;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0.28px;
  width: 47%;
  cursor: pointer;

}
#title {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
  padding: 7px 0;
}
#price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding: 7px 0;
}
.ref {
  font-family: "Source Sans 3", sans-serif;
  font-size: 12px;
  opacity: 80%;
  margin-left: 2%;
}
hr {
  opacity: 60%;
}

/* FOOTER */
#footer {
  margin-top: 150px;
  padding: 30px;
  border-top: 1px dashed #ddd;
}
#footer p {
  text-align: center;
  font-weight: 400;
}
#foo_container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 0 45px 0;
}
/* #############footer newsletter############# */
#newsletter {
  margin: 10px auto 0 auto;
  padding: 2px;
}
#foo_task {
  color: #888;
  line-height: 1px;
  transform: scale(0.8, 0.9);
}
#foo_input {
  border: none;
  outline: none;
  border-bottom: 1px solid #1e1e1e;
  width: 100%;
  padding-top: 0px;
}
#foo_input:focus {
  padding: 12px 0;
  border-bottom: 2px solid #1e1e1e;
  transition: border-bottom 0.2s, padding 0.3s;
}

/* #############footer social############# */
#foo_social {
  margin: 60px auto;
  width: 80%;
  display: flex;
  gap: 10px;
}
#foo_social p {
  color: #444;
}
#foo_social_left,
#foo_social_right {
  width: 50%;
}
.foo_social_icon {
  display: flex;
  gap: 5%;
  padding: 25px 0;
}
.foo_social_icon > div:hover {
  opacity: 0.6;
}
.foo_social_icon_right {
  width: 33%;
  margin: auto;
}
#foo_social img {
  width: 70%;
}

/* #############foo_about############# */
#foo_about {
  display: flex;
  padding: 0 40px;
}
.foo_about_items {
  width: 33%;
}
.foo_about_header {
  text-decoration: underline;
  text-align: center;
  line-height: 40px;
}
.foo_about_list {
  list-style-type: none;
  text-align: center;
}
.foo_about_list > li {
  font-size: 10px;
  color: #777;
  line-height: 20px;
  font-weight: 400;
  /* transform: scaleY(.9); */
  letter-spacing: 0.28px;
}
.foo_about_list > li:hover {
  text-decoration: underline;
  color: #222;
}

#footer {
  margin-top: 50px;
  padding: 50px;
  border-top: 1px dashed #ddd;
}
#footer p {
  text-align: center;
  font-weight: 400;
}
#foo_container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 0 45px 0;
}
/* #############footer newsletter############# */
#newsletter {
  margin: 10px auto 0 auto;
  padding: 2px;
}
#foo_task {
  color: #888;
  line-height: 1px;
  transform: scale(0.8, 0.9);
}
#foo_input {
  border: none;
  outline: none;
  border-bottom: 1px solid #1e1e1e;
  width: 100%;
  padding-top: 0px;
}
#foo_input:focus {
  padding: 12px 0;
  border-bottom: 2px solid #1e1e1e;
  transition: border-bottom 0.2s, padding 0.3s;
}

/* #############footer social############# */
#foo_social {
  margin: 60px auto;
  width: 80%;
  display: flex;
  gap: 10px;
}
#foo_social p {
  color: #444;
}
#foo_social_left,
#foo_social_right {
  width: 50%;
}
.foo_social_icon {
  display: flex;
  gap: 5%;
  padding: 25px 0;
}
.foo_social_icon > div:hover {
  opacity: 0.6;
}
.foo_social_icon_right {
  width: 33%;
  margin: auto;
}
#foo_social img {
  width: 70%;
}

/* #############foo_about############# */
#foo_about {
  display: flex;
  padding: 0 40px;
}
.foo_about_items {
  width: 33%;
}
.foo_about_header {
  text-decoration: underline;
  text-align: center;
  line-height: 40px;
}
.foo_about_list {
  list-style-type: none;
  text-align: center;
}
.foo_about_list > li {
  font-size: 10px;
  color: #777;
  line-height: 20px;
  font-weight: 400;
  /* transform: scaleY(.9); */
  letter-spacing: 0.28px;
}
.foo_about_list > li:hover {
  text-decoration: underline;
  color: #222;
}
